.mypage__ttl-container {
    text-align: center;
    line-height: 0;
}

.mypage__ttl {
    font-size: 30px;
}

.mypage__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 予約済み, 来店済み */
.reservation__flex {
    display: flex;
    justify-content: space-between;
}

.reservation-container__ttl {
    font-size: 24px;
}

.reservation__content-ttl h4::before {
    content: "";
    background: url(../img/reservation.png);
    background-size: cover;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 5px;
}

.reservation__content-ttl h4, .visit__content-ttl h4 {
    font-weight: 400;
}

.reservation__container {
    width: 40%;
}

.reservation__content {
    width:98%;
    height: auto;
    background-color: rgb(45, 88, 229);
    color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(164, 163, 163);
    padding: 10px 30px;
}

.reservation-update, .review {
    text-align: right;
    margin-bottom: 20px;
    margin-top: 8px;
}

.reservation-update__btn {
    background-color: #fff;
    color: rgb(45, 88, 229);
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
}

.reservation-qrcode {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.reservation__delete-btn {
    content: '';
    background: url(../img/close.png);
    background-size: cover;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.reservation__table {
    width: 100%;
}

.reservation__row {
    line-height: 40px;
}

.reservation__label {
    text-align: left;
    font-weight: 400;
    width: 33%;
}

.reservation__data {
    text-align: left;
    width: 67%;
}

.visit__content {
    width: 98%;
    height: auto;
    background-color: rgb(129, 130, 132);
    color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(164, 163, 163);
    padding: 10px 30px;
}

.review__btn {
    background-color: #fff;
    color: rgb(129, 130, 132);
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
}

/* お気に入り店舗*/
.favorite__container {
    width: 60%;
}

.favorite-container__ttl {
    font-size: 24px;
    padding-left: 10%;
}

.card__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 304px;
    height: 280px;
    margin: 0 0 20px 8%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(164, 163, 163);
    background-color: #fff;
}

.dummy {
    visibility: hidden;
}

.card__img img {
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0 0;
}

.card__content {
    padding: 10px 16px;
    height: 130px;
}

.card__content-top {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    padding: 0;
}

.card__content-ttl {
    font-size: 18px;
    font-weight: bold;
    line-height: 0;
    margin-bottom: 0;
}

.card__content-review {
    display: flex;
    justify-content: left;
    align-items: center;
}

.review__star {
    font-size: 16px;
    padding-right: 3px;
    margin: 0 auto;
}

.star {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 16px;
    font-size: 16px;
}

.star::before, .star::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    display: inline-block;
    height: 16px;
    line-height: 16px;
}

.star::before {
    color: #ddd;
}

.star::after {
    color: #F8C601;
    overflow: hidden;
    white-space: nowrap;
}

.star0::after {
    width: 0;
}

.star1::after {
    width: 16px;
}

.star1-5::after {
    width: 24px;
}

.star2::after {
    width: 32px;
}

.star2-5::after {
    width: 40px;
}

.star3::after {
    width: 48px;
}

.star3-5::after {
    width: 56px;
}

.star4::after {
    width: 64px;
}

.star4-5::after {
    width: 72px;
}

.star5::after {
    width: 80px;
}

.star__avg {
    padding-right: 3px;
}

.review__count {
    text-decoration: none;
    color: black;
}

.card__content-tag {
    font-size: 12px;
    line-height: 0;
    margin-bottom: 10px;
}

.card__content-tag-item {
    display: inline-block;
}

.shop-detail__btn {
    background-color: rgb(45, 88, 229);
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.card__content-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite__btn {
    background: url(../img/red-heart.png);
    background-size: cover;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    border: none;
    cursor: pointer;
}

/* 予約変更・レビュー投稿・レビュー一覧モーダル */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 990;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 90%;
    border: 1px solid rgb(164, 163, 163);
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    overflow-y: scroll;
}

.modal__ttl {
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
}

.modal__content {
    position: relative;
    padding: 64px 3%;
    margin-top: 50px;
}

.modal-reservation__table {
    margin: 0 auto;
    font-size: 18px;
}

.modal-reservation__row {
    line-height: 50px;
}

.modal-reservation__label {
    text-align: left;
    color: black;
    width: 40%;
}

.modal-reservation__data, .modal-reservation__data-select {
    text-align: left;
    padding-left: 5%;
    color: black;
    width: 60%;
}

.modal-reservation__data-select {
    position: relative;
}

#select_date {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid;
    width: 100%;
}

#select_time, #select_number {
    border-radius: 5px;
    padding: 8px 9px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

.modal-reservation__data-select::after {
    content: "";
    background: url(../img/arrow.png);
    background-size: cover;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 35%;
    left: 80%;
    transform: translateY(-50%);
    pointer-events: none;
    transform: rotate(90deg);
}

.modal-review__table {
    margin: 0 auto;
}

.modal-review__row {
    line-height: 60px;
}

.modal-review__label {
    text-align: left;
    padding-left: 0%;
    color: black;
    width: 30%;
}

.require {
    color: red;
    font-size: 14px;
}

.modal-review__data {
    text-align: left;
    padding-left: 5%;
    color: black;
    width: 70%;
}

.file::file-selector-button {
    cursor: pointer;
}

.modal-review-all__table {
    text-align: left;
    margin: 0 auto;
}

.modal-review-all__row {
    line-height: 30px;
}

.modal-review-all__label {
    text-align: left;
    padding-left: 0%;
    width: 20%;
}

.modal-review-all__data {
    text-align: left;
    padding-left: 5%;
    width: 80%;
}

.modal-review__content {
    position: relative;
    padding: 64px 0%;
}

.review__content {
    margin-top: 30px;
}

.review__star {
    font-size: 18px;
}

.yellow-star {
    color: #F8C601;
}

.gray-star {
    color: #D2D2D2;
}

.review__img {
    width: 100px;
}

.modal-form__button-submit {
    background-color: rgb(45, 88, 229);
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* レビュー星 */
.stars span {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.stars input[type='radio'] {
    display: none;
}

.stars label {
    color: #D2D2D2;
    font-size: 24px;
    padding: 0 5px;
    cursor: pointer;
}

.stars label:hover,
.stars label:hover~label,
.stars input[type='radio']:checked~label {
    color: #F8C601;
}

/*レスポンシブ*/
@media screen and (max-width: 768px) {
    #container {
        padding: 110px 3%;
    }

    .mypage__content{
        flex-flow: column;
    }

    .reservation__container, .favorite__container {
        width: 100%;
    }

    .reservation-container__ttl, .favorite-container__ttl {
        padding-left: 5%;
    }

    .reservation__content-ttl h4, .visit__content-ttl h4 {
        line-height: 0;
    }

    .reservation__content-ttl h4::before {
        margin-bottom: 0;
    }

    .reservation__content, .visit__content {
        width: 90%;
        height: auto;
        padding: 1px 30px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .reservation__row, .visit__row {
        line-height: 25px;
    }

    .reservation-update, .review {
        margin-bottom: 15px;
        margin-top: 4px;
    }

    .favorite__container {
        margin: 0 auto;
    }

    .card {
        margin: 0 2% 20px 2%;
    }

    .modal__inner {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 80%;
        height: 85%;
    }
}

@media screen and (max-width: 480px) {
    .mypage__ttl {
        font-size: 28px;
        }

    .reservation-container__ttl, .favorite-container__ttl {
        font-size: 22px;
    }

    .reservation__row, .visit__row {
        line-height: 20px;
    }

    .favorite__container {
        margin: 0 auto;
    }

    .card {
        margin-bottom: 20px;
    }

    .modal__inner {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 90%;
        height: 85%;
    }
}