.card {
    width: 30%;
    height: auto;
    margin: 100px auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(164, 163, 163);
    background-color: #fff;
}

.card__content {
    padding: 5px 30px 20px;
}

.card__heading {
    background-color: rgb(45, 88, 229);
    color: #fff;
    border-radius: 5px 5px 0 0;
    line-height: 0;
    padding: 12px 20px;
    font-size: 18px;
}

.input__username, .input__password, .input__email {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px;
    width: 90%;
    font-size: 16px;
    margin-top: 20px;
}

.form__input-username::before {
    content: "";
    background: url(../img/username.png);
    background-size: cover;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.form__input-email::before {
    content: "";
    background: url(../img/mail.png);
    background-size: cover;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.form__input-password::before {
    content: "";
    background: url(../img/password.png);
    background-size: cover;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.form__error {
    color: red;
    font-size: 14px;
    padding-left: 30px;
}

.form__button-submit {
    padding: 5px 15px;
    background-color: rgb(45, 88, 229);
    color: #FFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.form__button {
    text-align: right;
}