.content {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

/*店舗詳細*/
.shop-detail{
    width: 45%;
    margin-right: 5%;
}

.shop-detail__flex {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    align-items: center;
}

.home__link {
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 5px 8px;
    box-shadow: 3px 3px 5px rgb(164, 163, 163);
    border-radius: 5px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.shop-detail__ttl {
    line-height: 0;
    padding-left: 13px;
    padding-right: 10px;
    margin: 0;
}

.review__star {
    font-size: 20px;
    padding-right: 5px;
}

.star {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 20px;
    font-size: 20px;
}

.star::before, .star::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.star::before {
    color: #ddd;
}

.star::after {
    color: #F8C601;
    overflow: hidden;
    white-space: nowrap;
}

.star0::after {
    width: 0;
}

.star1::after {
    width: 20px;
}

.star1-5::after {
    width: 30px;
}

.star2::after {
    width: 40px;
}

.star2-5::after {
    width: 50px;
}

.star3::after {
    width: 60px;
}

.star3-5::after {
    width: 70px;
}

.star4::after {
    width: 80px;
}

.star4-5::after {
    width: 90px;
}

.star5::after {
    width: 100px;
}
.star__avg {
    padding-right: 5px;
}

.review__count {
    text-decoration: none;
    color: black;
}

.shop-detail__img img{
    width: 100%;
}

.shop-detail__tag {
    display: flex;
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 0;
}

.tag__item--last {
    padding-left: 5px;
}

/*レビュー一覧モーダル*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 990;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 90%;
    border: 1px solid rgb(164, 163, 163);
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    overflow-y: scroll;
}

.modal__ttl {
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
}

.modal__content {
    position: relative;
    padding: 64px 5%;
    margin-top: 50px;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.modal-review__content {
    position: relative;
    padding: 64px 5%;
}

.modal-review-all__table {
    text-align: left;
    margin-left: 5%;
    margin: 0 auto;
}

.modal-review-all__row {
    line-height: 30px;
}

.review__content {
    margin-top: 30px;
}

.review__label {
    text-align: left;
    padding-left: 5%;
    width: 10%;
}

.modal-review__data {
    text-align: left;
    padding-left: 5%;
    width: 80%;
}

.review__star {
    font-size: 18px;
}

.yellow-star {
    color: #F8C601;
}

.gray-star {
    color: #D2D2D2;
}

.review__img {
    width: 100px;
}

/*予約*/
.reservation{
    margin-left: 5%;
    background-color: rgb(55, 96, 231);
    color: #fff;
    box-shadow: 3px 3px 5px rgb(164, 163, 163);
    border-radius: 5px;
    margin-top: -100px;
    position: relative;
    z-index: 950;
    position: fixed;
    top: 18%;
    left: 48%;
    width: 40%;
    height: 90%;
}

.reservation__content {
    padding: 15px 5%;
}

.reservation__ttl {
    font-size: 24px;
}

.form__group {
    margin-bottom: 15px;
}

.form__select {
    position: relative;
}

#select_date {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 180px;
}

#select_time, #select_number {
    border: none;
    border-radius: 5px;
    padding: 8px 9px;
    width: 95%;
    -webkit-appearance: none;
    appearance: none;
}

.form__select::after {
    content: "";
    background: url(../img/arrow.png);
    background-size: cover;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 25%;
    left: 90%;
    transform: translateY(-50%);
    pointer-events: none;
    transform: rotate(90deg);
}

.form__error {
    color: red;
}

.confirm__container {
    background-color: rgb(93, 124, 229);
    border-radius: 5px;
    padding: 25px 4%;
    margin-top: 20px;
    margin-right: 8%;
}

.confirm__table {
    width: 100%;
}

.confirm__label {
    text-align: left;
    font-weight: 400;
    width: 26%;
}

.confirm__data {
    text-align: left;
    width: 74%;
}

#selectValueNumber {
    display: inline-block;
}

.form__button {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form__button-submit {
    background-color: rgb(7, 60, 234);
    color: #fff;
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

/*レスポンシブ*/
@media screen and (max-width: 768px) {
    #container {
        padding: 110px 5%;
    }

    .content {
        flex-flow: column;
    }

    .shop-detail {
        width: 100%;
    }

    .reservation {
        position: initial;
        margin-top: 20px;
        width: 100%;
        margin-left: 0;
    }

    .form__button {
        position: initial;
        margin-top: 10px;
    }

    .modal__inner {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 80%;
        height: 85%;
    }
}

@media screen and (max-width: 480px) {
    #container {
            padding: 110px 4%;
        }

    .content {
        flex-flow: column;
    }

    .shop-detail {
        width: 100%;
    }

    .reservation {
        position: initial;
        margin-top: 20px;
        width: 100%;
        margin-left: 0;
    }
    .reservation__ttl {
        font-size: 22px;
    }

    .shop-detail__ttl {
        font-size: 22px;
    }

    .shop-detail__tag,
    .shop-detail__text {
        font-size: 14px;
    }

    .form__select::after {
        left: 89%;
    }

    .confirm__table {
        font-size: 14px;
    }

    .confirm__label {
        width: 32%;
    }
    .confirm__data {
        width: 68%;
    }

    .form__button {
        position: initial;
    }

    .modal__inner {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 90%;
        height: 85%;
    }
}